.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  gap: 2rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
  width: 18rem;
}
.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.contact__options h4 {
  font-size: 25px;
}
.contact__option h3 {
  font-weight: bold;
  font-size: 19px;
}
.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 24px;
}

/*================================= FORM =====================================*/

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem; 
}
input, textarea {
  font-size: 30px;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: #00000061;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}






/* ===================MEDIA QUERIES (MEDIUM DEVICES) =============================*/
@media screen and (max-width: 1280px) {
form {
  margin-left: 50px;
}
}
@media screen and (max-width: 1024px) {
.contact__container {
  grid-template-columns: lfr;
  gap: 2rem;
}
form {
  margin-left: 119px;
  width: 90%;
}
.about__me {
  width: 26%;
  margin: 1rem auto 4rem;
}
}
@media screen and (max-width: 912x) {
  form {
    margin-left: 121px;
    width: 90%;
}
  }
/* ===================MEDIA QUERIES (SMALL DEVICES) =============================*/
@media screen and (max-width: 820px) {
form {
  margin-left: 118px;
  width: 36vw;
}
}
@media screen and (max-width: 540px) {
  .contact__option h3 {
    font-size: 17px;
}
button.btn.btn-primary {
  width: 197px;
  font-size: 21px;
}
}
@media screen and (max-width: 414px) {
    form {
      margin-left: 95px;
      width: 64vw;
    }  
}
@media screen and (max-width: 412px) {
  .container.contact__container {
    display: flex;
    flex-direction: column;
}
form {
  width: 102%;
  margin-left: -5px;
}
.contact__options {
  margin-left: 21px;
}
}
@media screen and (max-width: 375px) {
  .contact__container {
    display: flex;
    flex-direction: column;  
  }
  .contact__options {
    margin-left: 13px;
    width: 20rem;
}
  }
  @media screen and (max-width: 360px) {
    .contact__options {
      width: 20rem;
      margin: auto;
  }
  }
  @media screen and (max-width: 280px) {
  a.btn {
    font-size: 9px;
}
.contact__option {
  width: 16rem;
  margin-left: -13px;
}
.contact__options {
  margin-left: -4px;
  width: 15rem;
}
  }
  










