@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&diplay=swap'); 

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: #7e3eff;
  --color-bg-variant: #463388;
  --color-primary: #3e0d94;  
  --color-primary-variant: rgba(133, 77, 255, 0.41);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.88);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90w;
}


html {
  scroll-behavior: smooth;
}


body{
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url(../src/assets/bg-texture.png);
}


/* ===================GENERAL STYLES =============================*/


.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
 h1,
 h2,
 h3,
 h4,
 h5 {
  font-weight: 500;
}
 h1{
  font-size: 2.5rem;
}
section {
  margin-top: 4rem;
}
section > h2, section > h5 {
  text-align: center;
  color: var(--color-light);
  font-size: 30px;
}
section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
  font-size: 25px;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  font-size: 29px;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}
.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
  font-size: 29px;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/* ===================MEDIA QUERIES (MEDIUM DEVICES) =============================*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
  margin-top: 1rem;
  }

}

/* ===================MEDIA QUERIES (SMALL DEVICES) =============================*/

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
  margin-bottom: 2rem;
  }
}
@media screen and (max-width: 540px) {
  .text-light {
    font-size: 20px;
  }
}
@media screen and (max-width: 414px) {
  .container {
    width: 640px;
}
}
@media screen and (max-width: 412px) {
  .container {
    width: 100%;
}
.text-light {
  font-size: 15px;
}
.about__me {
  width: 64%;
  margin: 1rem auto 4rem;
}
.about__content p {
  font-size: 19px;
  width: 84vw;
  margin-left: 123px;
}
a.btn {
  font-size: 18px;
}
a.aboutA.btn.btn-primary {
  margin-left: 120px;
  width: 15rem;
  font-size: 33px;
}
}
@media screen and (max-width: 375px) {
  .text-light {
    font-size: 16px;
  }
}
@media screen and (max-width: 280px) {
  .text-light {
      font-size: 14px;
}
.about__me {
  width: 79%;
  margin: 1rem auto 4rem;
}
}
